.friend_list {
  margin-top: 45px;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}