.transaction_history {
  width: 500px;
  margin-top: 45px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

tbody td {
  text-align: center;
}

thead {
  background-color: #00BFFF;
}

thead th, tbody td {
  border: 1px solid white;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #c1f3fa;
}
