.team {
  background-color: var(--bg-grayish);
  padding-bottom: 60px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-list {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  list-style: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // &:first-child {
  //   margin-left: 0;
  // }
  // &:last-child {
  //   margin-right: 0;
  // }
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name {
  @include font (500, 16px, 1.2, 0.03em);
  margin: 0 0 10px;
}

.team-role {
  @include font (400, 16px, 1.2, 0.03em);
  color: var(--gray-color);
  margin: 0 0 16px 0;
}

.sm-list {
  @include centered;
}

.sm-item {
  list-style: none;
}

.sm-item + .sm-item {
  margin-left: 10px;
}

.sm-link {
  @include centered;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition-property: background-color;
  @include transitioned;
  &:hover,
  &:focus{
    background-color: var(--blue-color);
  }
}

.sm-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  @include transitioned;
  .sm-link:hover & {
    fill: white;
  }
  .sm-link:focus & {
    fill: white;
  }
}